body,
ul,
li {
  margin: 0;
  padding: 0;
  font: 12px/1.8 '宋体';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* buttons */
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 0 12px;
  margin: 0 3px;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn:hover,
.btn.active {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  background-position: 0 -15px;
}

.btn-green {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-green:hover,
.btn-green.active {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.btn-red {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-red:hover,
.btn-red.active {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-mini {
  height: 20px;
  line-height: 20px;
  padding: 0 6px;
}

.diy-slct-sum {
  margin: 5%;
  width: 240px;
  background: #fff;
  box-shadow: 0px 0px 7px #999;
  border: 1px #999 solid;
}

.diy-slct-sum .dss-content {
  padding: 5px;
}

.diy-slct-sum .dss-content input {
  border: 1px #EEE solid;
  padding: 2px;
  width: 90px;
}

.diy-slct-sum .dss-content i {
  font-style: normal;
  color: #0fa8e2;
  cursor: pointer;
  float: right;
  margin: 5px 3px 0;
}

.diy-slct-sum li {
  border-bottom: 1px #ddd solid;
  padding: 3px 5px;
  line-height: 100%;
  overflow: hidden;
}

.diy-slct-sum .dss-btn {
  text-align: center;
  padding: 5px;
  background: #EEE;
  border-top: 1px #DDD solid;
}

.diy-slct-sum .dss-tip {
  text-align: center;
  padding: 3px 0;
  color: #666;
}

.diy-slct-sum .dss-warn {
  padding: 3px 8px;
  background: #f6efe9;
  color: #bf5527;
  border-bottom: 1px #E7DAD3 solid;
  line-height: 1.2;
}